<style>
  
.img--content {
	height: 768px;
}
  
.chronic {
	top: 208px;
	left: 89px;
	height: 372px;
	width: 281px;
}

.rise {
	top: 208px;
	left: 396px;
	height: 372px;
	width: 281px;
}

.impact {
    top: 208px;
    left: 700px;
	height: 372px;
	width: 281px;
}



  
</style>

<div class="img--content sprite layer"></div>



<div class="sprite chronic" data-slide="200" data-button-name="Home Tile: Obesity is a chronic disease with many factors including behaviour and genetics"></div>
<div class="sprite rise" data-slide="300" data-button-name="Home Tile: Obesity is still on the rise"></div>
<div class="sprite impact" data-slide="400" data-button-name="Home Tile: Strategies that impact obesity"></div>


