<style>
  
  .img--content {
    height: 768px;
  }

  .img--references {
    width: 807px;
    height: 153px;
  }
  
  .img--abbreviation {
    width: 580px;
    height: 128.5px;
    background-repeat:no-repeat;
  }
  

  /* modal triggers */
  
  [data-modal-target] {
    width: 294px;
    height: 220px;
  }

  [data-modal-target=".modal-1"] {
    top: 276px;
    left: 96px;
  }
  
  [data-modal-target=".modal-2"] {
    top: 276px;
    left: 395px;
  }
  
  [data-modal-target=".modal-3"] {
    top: 276px;
    left: 696px;
  }



  /* popup modal style */


  .content-modal {
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
  }
  
  .content-modal .modal-button-close {
    right: 13px;
    top: 25px;
  }
  
  
  .modal-1 {
	width: 780.5px;
	height: 474.5px;
	background-image: url(res/img/modal-1.png);
	background-repeat:no-repeat;
  }
  
  .modal-2 {
	width: 780.5px;
	height: 423.5px;
	background-image: url(res/img/modal-2.png);
	background-repeat:no-repeat;
  }

  
  .modal-3 {
	width: 780.5px;
	height: 423.5px;
	background-image: url(res/img/modal-3.png);
	background-repeat:no-repeat;
  }
  
  
  
</style>

<div class="img--content sprite layer"></div>

<!-- Modal Triggers --
<a data-modal-trigger-open data-modal-target=".modal-1" class="tabs-modal-trigger one disable-swipe" data-button-name="Modal - Lifestyle Modification"></a>
<a data-modal-trigger-open data-modal-target=".modal-2" class="tabs-modal-trigger two disable-swipe" data-button-name="Modal - Anti-obesity Medications"></a>
<a data-modal-trigger-open data-modal-target=".modal-3" class="tabs-modal-trigger three disable-swipe" data-button-name="Modal - Bariatric Surgery"></a>
-->
<!-- Modal Containers --

<div class="modal-1 content-modal modal" data-modal-name="Lifestyle Modification">
	<a class="modal-button-close" data-modal-trigger-close></a>
</div>

<div class="modal-2 content-modal modal" data-modal-name="Anti-obesity Medications">
	<a class="modal-button-close" data-modal-trigger-close></a>
</div>

<div class="modal-3 content-modal modal" data-modal-name="Bariatric Surgery">
	<a class="modal-button-close" data-modal-trigger-close></a>
</div>
-->


