
<div class="img--content sprite layer"></div>

<div class="sprite layer mytab" data-tab="2">


<div class="subMenu sprite layer">
	<div class="sprite" data-tab-id="2" data-button-name="xxxxx">Overview</div>
	<div class="sprite data-tab-id-3" data-tab-id="3" data-button-name="xxxx">Model Attributes</div>
	<div class="sprite" data-tab-id="4" data-button-name="xxxxx">Key Assumptions & Limitations</div>
</div>

	<div class="tabContent tabContent-2">
		<div class="sprite layer tabHeading">Overview</div>
		<div class="sprite layer tabBody">
			
		</div>
	</div>

	<div class="tabContent tabContent-3">
		<div class="sprite layer tabHeading">Model Attributes</div>
		<div class="sprite layer tabBody">

		</div>
	</div>
	
	<div class="tabContent tabContent-4">
		<div class="sprite layer tabHeading">Key Assumptions & Limitations</div>
		<div class="sprite layer tabBody">
			
	
		</div>
	
	
	
	</div>


















</div>












<!-- Modal Triggers -->
<!--
<a data-modal-trigger-open data-modal-target=".modal-1" class="tabs-modal-trigger one disable-swipe" data-button-name="Modal - Lifestyle Modification"></a>
<a data-modal-trigger-open data-modal-target=".modal-2" class="tabs-modal-trigger two disable-swipe" data-button-name="Modal - Anti-obesity Medications"></a>
<a data-modal-trigger-open data-modal-target=".modal-3" class="tabs-modal-trigger three disable-swipe" data-button-name="Modal - Bariatric Surgery"></a>
-->
<!-- Modal Containers -->

<!--
<div class="modal-1 content-modal modal" data-modal-name="Lifestyle Modification">
	<a class="modal-button-close" data-modal-trigger-close></a>
</div>

<div class="modal-2 content-modal modal" data-modal-name="Anti-obesity Medications">
	<a class="modal-button-close" data-modal-trigger-close></a>
</div>

<div class="modal-3 content-modal modal" data-modal-name="Bariatric Surgery">
	<a class="modal-button-close" data-modal-trigger-close></a>
</div>
-->


