<!-- Brand Presentations Modal -->
<div class="img--btn-brand-presentations sprite layer" data-modal-trigger-open data-modal-target=".img--brand-presentations" data-modal-active-classname="brand-presentations-active" data-button-name="Top Nav - Pivot"></div>
<div class="img--brand-presentations sprite layer" data-modal-name="Top Nav - Pivot">
    <div class="presentation-0 presentation sprite" data-slide="100" data-presentation="novo_ozempic_iva" data-button-name="Pivot - Novo Ozempic"></div>
    <div class="presentation-1 presentation sprite" data-slide="100" data-presentation="novo_ozempic_cv_iva" data-button-name="Pivot - Novo Ozempic CV"></div>
    <div class="presentation-2 presentation sprite" data-slide="10" data-presentation="novo_rybelsus_iva" data-button-name="Pivot - Novo Rybelsus"></div>
    <div class="presentation-3 presentation sprite" data-slide="10" data-presentation="novo_rybelsus_cv_iva" data-button-name="Pivot - Novo Rybelsus CV"></div>
    <div class="presentation-4 presentation sprite" data-slide="novo_tresiba_devote_iva_all_10.zip" data-presentation="novo_tresiba_devote_iva" data-button-name="Pivot - Novo Tresiba Devote"></div>
</div>