


<!-- Modal overlay: DO NOT REMOVE -->
<div class="modal-overlay" data-modal-trigger-close></div>

<!-- Reference modal  -->
<div class="modal-container img--references sprite" data-modal-name="Upper Nav - Reference">
    <div class="references-content">
      <div class="img--references-full"></div>
    </div>
    <div class="references-title sprite layer">REFERENCES</div>
    <a class="modal-button-close sprite" data-modal-trigger-close></a>
</div>

<!-- Abbreviation modal -->
<div class="modal-container img--abbreviation sprite" data-modal-name="Upper Nav - Abbreviation">
  <div class="abbreviations-title sprite layer">ABBREVIATIONS</div>
  <a class="modal-button-close sprite" data-modal-trigger-close></a>
</div>

<!-- ISI modal -->
<div class="isi-container sprite" data-modal-name="Footer Nav - ISI" data-scroller-name="Modal - ISI">
  <div class="isi-content">
    <div class="img--isi-full">
      <div class="hotlink-wegovy-pi-link" data-presentation="novo-wegovy-piv-pi" data-slide="wegovy-piv-pi.zip" data-button-name="ISI modal - Wegovy PI"></div>
      <div class="hotlink-saxenda-pi-link" data-presentation="mac_pi_saxenda" data-slide="9039_98925.zip" data-button-name="ISI modal - Saxenda PI"></div>

    </div>
    
  </div>
  <div class="isi-title sprite layer">Important Safety Information</div>
  <a class="modal-button-close" data-modal-trigger-close></a>
</div>


<!-- References modal 
<div class="references-container sprite" data-modal-name="Footer Nav - References" data-scroller-name="Modal - References">
  <div class="references-content">
    <div class="img--study-design-full"></div>
  </div>
  <div class="references-title sprite layer">References</div>
  <a class="modal-button-close" data-modal-trigger-close></a>
</div>
-->

<!-- Section Navigation -->
<div class="img--bg-section-nav sprite layer">
	<div class="section-nav-item-1 section-nav-item sprite" data-slide="200" data-button-name="Section Nav - Obesity: A Chronic Disease"></div>
	<div class="section-nav-item-2 section-nav-item sprite" data-slide="300" data-button-name="Section Nav - Obesity: On the Rise"></div>
	<div class="section-nav-item-3 section-nav-item sprite" data-slide="400" data-button-name="Section Nav - Strategies that Impact Obesity"></div>
</div>




<!-- Side Navigation -->
<div class="img--bg-side-nav sprite layer">
  <div class="side-nav-item side-nav-item-1 sprite" data-button-name="Side Nav - Back"></div>
  <div class="side-nav-item side-nav-item-2 sprite" data-slide="100" data-button-name="Side Nav - Home"></div>
  <div class="side-nav-item side-nav-item-3 sprite" data-slide="200" data-button-name="Side Nav - Obesity: A chronic disease"></div>
  <div class="side-nav-item side-nav-item-4 sprite" data-slide="300" data-button-name="Side Nav - Obesity: On the rise"></div>
  <div class="side-nav-item side-nav-item-5 sprite" data-slide="400" data-button-name="Side Nav - Strategies that impact obesity"></div>
  
  <div class="side-nav-item side-nav-item-6 sprite" data-slide="500" data-button-name="Side Nav - ROI Model Overview"></div>
  <div class="side-nav-item side-nav-item-7 sprite" data-slide="700" data-button-name="Side Nav - ROI Inputs Screen"></div>
  <div class="side-nav-item side-nav-item-8 sprite" data-slide="700" data-button-name="Side Nav - ROI Results Screen"></div>
</div>





<!-- end: global.htm -->
