<!-- Upper Navigation :: Tool -->
<div class="img--bg-upper-nav sprite layer">
  
	<div class="upper-nav-item-1 upper-nav-item references-link disable-swipe" data-modal-trigger-open data-modal-target=".img--references" data-modal-active-classname="references-active" data-button-name="Upper Nav - References"></div>
  
	<div class="upper-nav-item-2 upper-nav-item abbreviation-link disable-swipe" data-modal-trigger-open data-modal-target=".img--abbreviation" data-modal-active-classname="abbreviation-active" data-button-name="Upper Nav - Abbreviation"></div>
  
	<div class="upper-nav-item-3 upper-nav-item sprite disable-swipe" data-presentation="novo-wegovy-piv-pi" data-slide="wegovy-piv-pi.zip" data-button-name="Upper Nav - Wegovy PI"></div>
	
	<div class="upper-nav-item-4 upper-nav-item sprite isi-link disable-swipe" data-modal-trigger-open data-modal-target=".isi-container" data-modal-active-classname="isi-active" data-button-name="Upper nav ISI"></div>
	
	<div class="upper-nav-item-5 upper-nav-item sprite disable-swipe" data-presentation="mac_pi_saxenda" data-slide="9039_98925.zip" data-button-name="Upper Nav - Saxenda PI"></div>
	

	
</div>